
h1{
    text-align: center;
    color: darkred;
    margin-top: 100px;
}
p{
    text-align: justify;
    color: brown;
}
h2{
    text-align: left;
    color: brown;
}
body {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: repeat-y;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 187, 218);
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.navigation {
    list-style-type: none;
}
.navigation li{
    display: inline-table;
    margin-right: 20px;
    background-color: antiquewhite;
    border: 20px solid antiquewhite;
    border-radius: 20px;
}
.home-img{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.regime{
    display:flex;
    justify-content: space-around;
    text-align: center;
}
#brightening{
    background-image: url('../assets/brightening.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#moisturizing{
    background-image: url('../assets/moisturizing.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#acne{
    background-image: url('../assets/acne.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#combination{
    background-image: url('../assets/combination.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.mission{
    text-align: left;
    color: brown;
}
.Highlight{
    display:flex;
    justify-content:space-evenly;
}
.circle-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:2px solid paleturquoise;
}
#best-seller{
    background-image: url('../assets/best\ seller.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#ingredients{
    background-image: url('../assets/main\ ingredients.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#skincare-regime{
    background-image: url('../assets/skincare\ regime.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.inquiry-box {
    display:flex;
    justify-content: space-around;   
}
.inquiry-form {
    display:flex;
    flex-direction:column;
}

#submit{
    margin-top: 20px;
}
#outputBox {
    width: 300px; 
    height: 200px;
    box-sizing: border-box;
    padding: 2px;
    border: 0.3px solid black;
    background-color: white;
}
footer{
    border-top: 1px solid black;
    text-align: end;
    margin-top: 100px;
    background-color: antiquewhite;
    margin-bottom: 50px;
}