
h1{
    text-align: center;
    color: darkred;
    margin-top: 15%;
}
p{
    text-align: justify;
    color: brown;
}
h2{
    text-align: left;
    color: brown;
}
body {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: repeat-y;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 187, 218);
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.navigation {
    list-style-type: none;
}

.navigation li{
    display: inline-table;
    background-color: antiquewhite;
    border: 20px solid antiquewhite;
    border-radius: 20px;
}
@media screen and (max-width: 600px) {
    header {
        display: flex;
        
        background-color: rgb(209, 187, 218);
        border-radius: 0%;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navigation {
        width: 100%;
        box-sizing: border-box;
        margin: 0; /* Reset margin to zero */
        padding: 0;
    }

    .navigation li {
        display: block;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin:0;
        border-radius: 0;
    }
}


.home-img{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
}
.regime{
    display:flex;
    justify-content: space-around;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .regime{
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
}
#brightening{
    background-image: url('../assets/brightening.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#moisturizing{
    background-image: url('../assets/moisturizing.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#acne{
    background-image: url('../assets/acne.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#combination{
    background-image: url('../assets/combination.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.mission{
    text-align: left;
    color: brown;
}
.Highlight{
    display:flex;
    justify-content:space-evenly;
}
@media screen and (max-width: 600px) {
    .Highlight{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.circle-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:2px solid paleturquoise;
}
#best-seller{
    background-image: url('../assets/best\ seller.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#ingredients{
    background-image: url('../assets/main\ ingredients.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#skincare-regime{
    background-image: url('../assets/skincare\ regime.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.inquiry-box {
    display:flex;
    justify-content: space-around;   
}
.inquiry-form {
    display:flex;
    flex-direction:column;
}
#submit{
    margin-top: 20px;
}
#outputBox {
    width: 400px; 
    height: 200px;
    box-sizing: border-box;
    padding: 2px;
    border: 0.3px solid black;
    background-color: white;
}
@media screen and (max-width: 600px) {
    .inquiry-box{
        flex-direction: column;
        justify-content: center;
    }
    #outputBox{
        width: 100%;
    }
    }
footer{
    border-top: 1px solid black;
    text-align: end;
    margin-top: 100px;
}