<!DOCTYPE css>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Beau</title>
    <link rel="stylesheet" href="style.css">
</head>

body {
    background-image: url('background.png'); /* Replace 'your-image-url.jpg' with the path or URL to your image */
    background-size: cover;
    background-repeat: no-repeat;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 100px;
    height: 50px;
}
.navigation {
    list-style-type: none;
}
.navigation li{
    display: inline-table;
    margin-right: 20px;
}

.Highlight{
    display:flex;
    justify-content:space-evenly;
}
.circle-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:2px solid paleturquoise;
}
#best-seller{
    background-image: url('best seller.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}
#ingredients{
    background-image: url('main ingredients.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}
#skincare-regime{
    background-image: url('skincare regime.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}
.inquiry-box {
    display:flex;
    justify-content: space-around;   
}
.inquiry-form {
    display:flex;
    flex-direction:column;
}
#output {
    width: 200px; 
    height: 100px;
}
